{% extends 'base_layout.html' %}
{%block content%}
    <div class = "acc-login-form">
    <h1>Login</h1>
    <form class="site-form" action ="{%url 'accounts:login'%}" method="post">
        {% csrf_token %}
        {{ form }}
        {%if request.GET.next%} <!--if request.. exists then it'll redirect us to the main page we want-->
            <input type="hidden" name="next" value = "{{request.GET.next}}">
        {%endif%}
        <input type="submit" value="Login">
    </form>
    <div class="redirect-signup">
        <p>Dont have an account?<p>
        <form action="{%url 'accounts:signup'%}">  
            <input type="submit" value = "Sign Up">  
        </form>
    </div>
{%endblock%}